@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 65px 35px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
  
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.EducationImage {
    width: 99%;
    border: 2px solid blue;
}

.DownloadBtn {
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    width: 250px;
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.DownloadBtn:hover {
    background-color: blue;
}

.EducationItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.EducationRight {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.EducationItem {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 15px 10px;
    background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.EducationItem img {
    width: 170px;
}

.EducationItem:hover {
    background-size: 100% 100%;
}

.EducationItem h3 {
    font-size: 28px;
    font-weight: 600;
}

.EducationItem h2 {
    color: red;
    font-size: 25px;
    font-weight: 600;
}

.EducationItem p {
    font-size: 27px;
    color: greenyellow;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    } 

    .EducationRight {
        width: 100%;
    }

    .EducationImage {
        margin-top: 20px;
    }

}
@media screen and (min-width: 769px) and (max-width: 1000px){
    .content {
        flex-direction: column;
    } 

    .EducationRight {
        width: 100%;
    }

    .EducationImage {
        margin-top: 20px;
    }


}

@media screen and (max-width: 530px) {
    .container {
        padding: 40px 8px;
    }

    .title {
        font-size: 30px;
        margin-left: 20px;
    }

    .EducationItem img {
        width: 100px;
    }

    .EducationItem h3 {
        font-size: 15px;
        font-weight: 600;
    }
    
    .EducationItem h2 {
        color: red;
        font-size: 20px;
        font-weight: 600;
    }
    
    .EducationItem p {
        font-size: 15px;
        color: greenyellow;
    }

    .EducationItem {
        padding: 10px 0px;
    }
}

@media screen and (max-width: 345px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
        padding: 30px 5px;
    }

    .title {
        font-size: 25px;
        margin-left: 15px;
    }

    .EducationItem img {
        width: 90px;
    }

    .EducationItem h3 {
        font-size: 14px;
    }

    .EducationItem h2 {
        font-size: 18px;
    }

    .EducationItem p {
        font-size: 14px;
    }
}

@media screen and (min-width: 1424px) and (max-width: 3720px) {
    .EducationImage {
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


.EducationRight {
    width: 60%; 
    margin-left: auto;
    margin-right: auto;
}

.EducationItems{
    width: 40%;
}
.EducationItem img {
    width: 100px;
}

.EducationItem h3 {
    font-size: 15px;
    font-weight: 600;
}

.EducationItem h2 {
    color: red;
    font-size: 20px;
    font-weight: 600;
}

.EducationItem p {
    font-size: 15px;
    color: greenyellow;
}

.EducationItem {
    padding: 10px 0px;
}
.DownloadBtn {
    text-decoration: none;
    color: white;
    background-color: blueviolet; 
    cursor: pointer;
    width: 250px; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.DownloadBtn:hover {
    background-color: blue;
}
}

/* Large desktops and laptops */
@media screen and (min-width: 1001px) and (max-width: 1423px) {
    .EducationImage {
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .EducationRight {
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }

    .EducationItems {
        width: 40%;
    }

    .EducationItem img {
        width: 100px;
    }

    .EducationItem h3 {
        font-size: 15px;
        font-weight: 600;
    }

    .EducationItem h2 {
        color: red;
        font-size: 20px;
        font-weight: 600;
    }

    .EducationItem p {
        font-size: 15px;
        color: greenyellow;
    }

    .EducationItem {
        padding: 10px 0px;
    }

    .DownloadBtn {
        padding: 25px; 
        width: 60%; 
        font-size: 25px; 
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        margin-top: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Tablets */
@media screen and (max-width: 992px) {
   
    .DownloadBtn {
        padding: 20px; 
        width: 50%; 
        font-size: 20px; 
    }
}
@media screen and (max-width: 345px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
        padding: 30px 5px;
    }

    .title {
        font-size: 25px;
        margin-left: 15px;
    }

    .EducationItem img {
        width: 90px;
    }

    .EducationItem h3 {
        font-size: 14px;
    }

    .EducationItem h2 {
        font-size: 18px;
    }

    .EducationItem p {
        font-size: 14px;
    }
}
