@import "../../vars.css";

.container {
    padding: 20px;
    color: var(--color-text);
    margin-top: 79;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .title {
    font-size: 2em;
    color: var(--color-text);
    font-weight: 700px;
    letter-spacing: 1.75px;
    text-transform:uppercase ;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    margin-top: 14px;
  }
  
  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    height: 228px;
  }

  .skillImageContainer img{
    width: 55px;
  }
  
  .skill img {
    width: 59%;
    height: auto;
  }

  .skill p{
    font-size: 25px;
    font-family: var(--font -roboto);
    font-weight: 500;
  }
  /* Media Queries */
@media (max-width: 1200px) {
    .skills {
        grid-template-columns: repeat(3, 1fr); 
    }

    .skillImageContainer {
        width: 200px;
        height: 196px;
    }

    .skill p {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .skills {
        grid-template-columns: repeat(2, 1fr); 
    }

    .skillImageContainer {
        width: 180px;
        height: 176px;
    }

    .skill p {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .skills {
        grid-template-columns: repeat(3 , 1fr); 
    }

    .skillImageContainer {
        width: 160px;
        height: 156px;
    }

    .skill p {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 1.5em;
    }

    .skills {
        grid-template-columns: repeat(2, 1fr); 
    }

    .skillImageContainer {
        width: 140px;
        height: 136px;
    }

    .skill p {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .skills {
        grid-template-columns: repeat(2, 1fr); 
    }

    .skillImageContainer {
        width: 140px; 
        height: 136px;
    }

    .skill p {
        font-size: 16px; 
    }
}


@media (max-width: 345px) {
    .skills {
        grid-template-columns: repeat(1, 1fr); /* Set one column */
    }

    .skillImageContainer {
        width: 100px;
        height: 100px;
    }

    .skill p {
        font-size: 14px; /* Decrease font size */
    }
}
